<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Deep-link scheme: widgets open ephoemerous://object/<entity-id>
	     (see .widgetURL in EphoemerousWidgets + onOpenURL in EphoemerousApp). -->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.lorep.uk.Ephoemerous</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ephoemerous</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
